{{> head }}

<body>
    <nav class="uk-navbar-container" uk-navbar style="max-height:40px;">
        <div class="uk-container">
            <div class="uk-navbar">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="/" style="min-height:40px;">Главная</a></li>
                    <li class="uk-parent"><a href="/report" style="min-height:40px;">Отчёт</a></li>
                    <li class="uk-parent"><a href="/help" style="min-height:40px;">Помощь</a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="uk-container uk-container-expand">
        {{{ body }}}
    </div>
    {{> footer }}
</body>

</html>