{{> head }}

<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-container">
            <div class="uk-navbar">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="/">Главная</a></li>
                    <li class="uk-parent"><a href="/report">Отчёт</a></li>
                    <li class="uk-parent"><a href="/help">Помошь</a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="uk-container">
        {{{ body }}}
    </div>


    {{> footer }}
</body>

</html>