<div class="uk-container">
    <h1>Help</h1>

    Для работы с этим приложением, необходимо:
    <ul>
        <li>Авторизоваться в системе СКУД HIKProfessional (обязательно используя английский язык) - <a href="http://dt-skud.gescons.ru:5580">http://dt-skud.gescons.ru:5580</a>;</li>
        <li>Перейти через меню: "Access Control" > "Access Control Retrieval";</li>
        <li>Определить параметры фильтра согласно ваших требований;</li>
        <li>Нажать на кнопку "Export"</li>
        <li>Выбрать формат файла "CSV" и нажать кнопку "Save"</li>
        <li>При сохранении дать название файлу</li>
        <li>Открыть данное веб приложение <a href="https://dt-skud.gescons.ru">https://dt-skud.gescons.ru</a></li>
        <li>Перейти по вкладку "Отчёт"</li>
        <li>Подгрузить отчёт который вы ранее сохранили в формате CSV</li>
        <li>После подгрузки - появиться ссылка на отчёт, который далее можно будет просмотреть в следующей странице</li>
        <li>Перед откроется, хорошо отформатированный список, который можно дополнительно отфильтровать и экспортировать в Excel.</li>
    </ul>
    Перед началом работы рекомендуется в браузере настроить Загрузку файлов. Чтобы браузер спрашивал куда сохранять, чтобы могли самостоятельно определять имя файла (вместо кракозябов).
</div>
